body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: turquoise;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}





.box{
    background-color: navy;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: medium;
    align-items: center;
}


.all{
display: flex;
gap: 30px;
}


.lorem500{
    width: 100%;
    height: 700px;
    font-size: small;
    background-color: aqua;
}


.lorem50{
    width: 100%;
    height: 400px;
    font-size: medium;
    background-color: brown;
}

.lorem5{
    width: 100%;
    height: 400px;
    font-size: large;
    background-color: purple;

}